*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    max-height: 100vh;
    background-image: url(image/background\ request.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.admintable-container{
    width: 70%;
    overflow-y: auto;
    min-height: 60vh;
    max-height: 300px;
    margin: auto;
    display: grid;
    place-items: center;
    margin-top: 50px;

}
::-webkit-scrollbar{
    display: none;
}
#requestTable {

    width: 90%;
    border-collapse: collapse;
    max-height: 500px;
    overflow-y: scroll;
}
#requestTable thead{
    background-color: white;
    border-collapse: collapse;
}


#requestTable td{
    color: hsl(30, 100%, 64%);
}
#reqTitle, #deleteStyle{
    text-align: center;

}
#reqTitle{
    background-color: hsl(17, 87%, 54%);
    font-size: 35px;
    top: 0;
    position: sticky;

}

#deleteStyle a{
    color: rgb(235, 13, 13);
    cursor: pointer;
    font-weight: bold;
    text-shadow: none;
}

#toIndex{
    color: rgb(255, 166, 0);
    font-size: 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: hsla(17, 87%, 54%, 0.863);
    text-shadow: 1px 1px black;
}
#toIndex:hover{
    transform: scale(.95);
    
    color: #f5e8e2;
}


#reqbody tr:nth-of-type(even){
    background-color: hsla(30, 100%, 64%, 0.548);
}
#reqbody tr:nth-of-type(odd){
    background-color: hsla(17, 87%, 54%, 0.308);
    color: hsl(17, 87%, 54%);
    text-shadow: 1px 1px 1px black;
    
}
td{
    color: hsl(17, 87%, 54%);
    text-shadow: 1px 1px black;
    font-size: 20px;
}

